
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
.toDoMainContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.inputContainer{
    display: flex;
    width: 100%;
}

.inputContainer input{
    border: none;
    padding: 8px 5px;
    width: 100%;
    outline: none;
}
.inputWrapper{
    position: relative;
    width: 25vw;
    margin-right: 5px;
}
.inputWrapper::after{
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    bottom: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #000000;
    transition: all 300ms ease;
}
.inputWrapper:focus-within::after{
    transform: scaleX(1);
}
.inputContainer button{
    border: none;
    border-radius: 0px 3px 3px 0px;
    background-color: rgb(17, 218, 17);
    cursor: pointer;
    transition: all 1s ease;
    padding: 7px;
}
.inputContainer button:hover{
    background-color: rgb(4, 179, 65);
}
.clearAll{
    padding: 3px;
    display: flex;
    justify-content: flex-end;
}
.clearAll button{
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.toDoList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}

.toDoItem{
    background-color: rgb(5, 197, 120);
    border-radius: 5px;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toDoItem p{
    font-size: 1.2rem;
    font-weight: bold;
}
.toDoItem button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.buttons{
    display: flex;
    gap: 5px;
}
